@import 'tictactoe-style-globals';

.game.f32x0 {
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;

    color: $default-foreground-color;
    font-family: $default-fonts;

    & > .title {
        text-align: center;
    }

    & > .f-bi {
        flex-grow: 1;
        display: flex;
        flex-direction: row;

        & > .f-bs {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            & > .status {
                text-align: center;
            }

            & > .v-padding { flex-grow: 1; }
        }
    }
}