.square.table.or4Sy {
    background-color: rgb(255, 237, 204);
    
    &> .content {
        background-color: rgb(192, 74, 35);

        &> .cell {
            background: rgb(176, 198, 180);

            &> .content {
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
                color: #504f1b;
            }
        }
    }
}