.square.container.xJ425 {
    width: 100%; height: 100%;
    background-color: rgb(205, 223, 226);

    &> .fill-all-area {
        &> .content {
            background-color: rgb(223, 152, 66);
            text-align: center;

            &> .letter {
                color: #504f1b;
            }
        }
    }
}